body {
  background-image: url(resources/bliss.jpg);
  background-position: top;
  background-repeat: no-repeat;
  padding: 1rem 0 1rem 0;
}

@media (min-width: 800px) {
  body {
    max-width: 800px;
    margin: auto;
  }
}

#main-article-content table {
  margin: auto;
}

#cubeofmeat-logo {
  max-width: 100px;
}

/* div.window {
  position: absolute;
}

div.window.title-bar {
  cursor: move;
} */