body {
  background-image: url(/resources/bliss.jpg);
  background-position: top;
  background-repeat: no-repeat;
  padding: 1rem 0 1rem 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p,
a,
button {
  font-size: 12px !important;
}

@media (min-width: 800px) {
  body {
    max-width: 800px;
    margin: auto;
  }
}

#main-article-content table {
  margin: auto;
}

#cubeofmeat-logo {
  max-width: 100px;
}

span.spoiler {
  filter: blur(3px);
  transition: filter 0.3s ease;
}

span.spoiler:hover {
  filter: blur(0);
}


/* div.window {
  position: absolute;
}

div.window.title-bar {
  cursor: move;
} */